* {
  margin: 0;
  padding: 0;
  font-family:"Montserrat";
}
body{
  background: #E5E5E5;
  width: 100%;
  max-width: 1400px;
}
.container{
  background: url(image/header.png);
  display: block;
  min-height: 600px;
}
.head img{
  position: relative;
  width: 100%;
}
.nav {
  margin: 0px;
  font-size: 16px;
  color: #533738;
  text-align: center;
  display: inline-block;
}
.container a{
  text-decoration: none;
}
.scandi{
  padding: 10px;
  margin-left: 20px;
  margin-top: 10px;
}
.company{
  padding: 10px;
  margin-left: 20px;
  margin-top: 10px;
}
.portfolio{
  padding: 10px;
  margin-left: 20px;
  margin-top: 10px;
}
.team{
  padding: 10px;
  margin-left: 20px;
  margin-top: 10px;
}
.work{
  padding: 10px;
  margin-left: 20px;
  margin-top: 10px;
}
.clients{
  padding: 10px;
  margin-left: 20px;
  margin-top: 10px;
}
.app{
  padding: 10px;
  margin-left: 20px;
  margin-top: 10px;
}
.namber{
  padding: 10px;
}
h1 {
  padding: 10px;
  margin-top: 95px;
  margin-left: 95px;
  font-size: 50px;
  color: #533738;
  width: 540px;
}
.subtitle {
  padding: 10px;
  margin-top: 1px;
  margin-left: 95px;
  font-size: 18px;
  color: #533738;
  width: 540px;
}
.application{
  width: 240px;
  height: 63px;
  margin-left: 95px;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  color: #533738;
}
button {
  background: #CC8B86;
  border: none;
  text-decoration: none;
  padding: 20px;
  padding-bottom: none;
}

/***************** О нас ****************/
h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  color: #533738;
}
.company_page h2{
  margin-top: 30px;
  padding: 20px;
  text-align: center;
}
.usus {
  padding: 10px;
  display: grid;
  grid-gap: 20px;
  justify-content: center;
  grid-template-columns: 490px 490px;
  grid-template-rows: 500px;
}
.uss {
  width: 440px;
  font-size: 20px;
  color: #533738;
}
.us_img{
  float: left;
  height: 450px;
  margin-left:20px;
}
.figure{
  padding: 13px;
  width: 100%;
  height: 130px;
  background: #8D7370;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 50px;
  justify-content: center;
}
.fig{
  font-size: 36px;
  line-height: 62px;
  color: #fff;
  text-align: center;
}

/************* Наши работы *************/
.portfolio_page h2{
  text-align: left;
  margin-left: 50px;
  padding: 20px;
}
.picture{
  padding: 20px;
  text-align: center;
}
.picture img{
  height: 400px;
}
.first{
  position: relative;
  z-index: -1;
}
.first:hover{
  transition: 0.5s;
}
.studia{
  padding: 10px;
  margin-top: -826px;
  margin-left: 110px;
  z-index: 1;
  opacity: 0;
}
.studia:hover{
  background: #644845;
  height: 396px;
  width: 404px;
  opacity: 1;
  transition: 0.5s;
}
.room {
  font-size: 36px;
  color: #fff;
  height: 111px;
  text-align: center;
  width: 390px;
8}
.whatroom{
  font-size: 21px;
  color: #fff;
  height: 150px;
  width: 400px;
}
.look{
  margin-top: 580px;
  font-size: 30px;
  text-align: center;
}
/************* Команда *************/
.team_page{
  margin-top: 100px;
  color: #533738;
  background: #E2C4BA;
  height: 850px;
}
h2{
  padding: 50px;
  text-align: center;
}
.girls{
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 200px ;
  justify-content: center;
}
.girls img{
  height: 200px;
}
.text_girl{
  text-align: left;
  padding: 10px;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 100px ;
  justify-content: center;
}
.texxt{
  width: 270px;
}

/************* Как мы работаем *************/
.work_page{
  text-align: center;
}
.blockk{
  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
  grid-template-rows: 100px ;
  justify-content: center;
}
.num{
  color: #fff;
  font-size: 30px;
  margin-top: -66px;
  padding: 15px;
}
.text{
  font-size: 18px;
  color: #533738;
}
.ellips{
  background: #8D7370;
  border: 1px solid #8D7370;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: inline-block;
}
/************* Отзывы *************/
.clients_page {
  padding: 12px;
}
.pic{
  display: grid;
  grid-template-columns: 200px;
  grid-template-rows: 300px 300px;
  justify-content: space-around;
}
.Otz{
  color: #533738;
  margin-top: 40px;
  text-align: left;
  font-size: 20px;
  display: grid;
  grid-template-columns: 400px 400px;
  grid-template-rows: 500px;
  justify-content: center;
}
.ClinPage{
  display: grid;
  justify-content: center;
  align-self: start;
}
.elip{
  background: #CC8B86;
  border: 1px solid #CC8B86;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: inline-block;
}
.elipp{
  display: flex;
  justify-content: space-between;
  margin-top: -250px;
}
.strelka{
  margin-top:-5px;
  color: #fff;
  font-size: 50px;
  text-align: center;
}
/***************** Оставить заявку ****************/
.app_page{
  margin-top: 295px;
  background: #8D7370;
  color: #fff;
  display: grid;
  grid-template-columns: 500px 450px;
  grid-template-rows: 500px;
  justify-content: center;
}
.app_page img{
  width: 450px;
}
.app_page h2{
  margin-top: 30px;
  width: 600px;
  padding: 10px;
  color: #fff;
  text-align: left;
}
.tit{
  font-size: 16px;
  width: 400px;
  padding: 11px;
}
.app_page img{
  height: 500px;
}
form{
  padding: 20px;
}
.name{
  border: none;
  background: #8D7370;
  border-bottom-style: outset;
  border-bottom-width: thin;
  padding: 12px;
  font-size: 18px;
}
input::placeholder{
  color: #fff;
}
.end{
  padding:10px;
}
.sub{
  width: 300px;
}
footer{
  text-align: center;
  color: #533738;
  background: #E5E5E5;
  padding: 20px;
  font-size: 16px;
  display: grid;
  grid-template-columns: 200px 450px 350px;
  grid-template-rows: 20px;
  justify-content: space-between;
}
